<?xml version='1.0' encoding='utf-8'?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.skratch.sm100"
        version   = "0.9.0">
        
    <name>SM-100</name>

    <description>
        List of all 100 scripture masteries. Listed in order of length.
    </description>

    <author href="http://skratch.co.nz" email="skratch.ltd@gmail.com">
        Skratch Limited
    </author>

    <content src="index.html" />

    <access origin="*" />

</widget>
